.header {
    background-color: crimson;
    border-top: 1px solid black;
    padding: 0.5rem;
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 0px solid none;
    font-size: 1.2rem;
}

.article {
    border: 1px solid black;
    border-radius: 20px;
}

h2, h1 {
    text-align: center;

}

.cuerpo {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 1rem;
    padding-right: 1rem;
}

.cuerpo2 {
    font-size: 1.5rem;

    text-align: center;

    width: 33%;

    margin-left: 33%;

}

body {
    background-color: rgba(94, 44, 107, 0.685);
}

article {
    margin-left: 20%;
    margin-right: 20%;
    background-color:rgba(255, 255, 255, 0.795);
}

.findepag {
    width: 15%;
}

.fras-final {
    text-align: center;
}